{% extends "base.html" %}
{% block content %}
  {% set numbers = ["one", "two", "three", "four", "five", "six", "seven", "eight", "nine"] %}
  {% set column_size = settings.colorbox_column_size %}
  {% set nb_columns = (9 / column_size)|int %}
  {% set column_size_t = numbers[column_size] %}

  {% macro img_description(media) -%}
    {% if media.big %} data-big="{{ media.big_url }}"{% endif %}
    {% if media.exif %}
      {% if media.exif.datetime %}
        data-date=", {{ media.exif.datetime }}"
      {% endif %}
    {% endif %}
  {%- endmacro %}

{% for album in album.albums %}
    {% set tags = album.medias[0]|string|replace(".", " ") %}
      <figure data-tags="{{ tags }}" class="{{ column_size_t }}">
        <figcaption data-tags="{{ tags }}" >
            <a href="{{ album.url }}">
                {{ album.title }}
            </a>
        </figcaption>
        {% include "_album.html" %}
      </figure>
{% endfor %}

<figure>
    <figcaption data-tags>More</figcaption>
{% for album in album %}
    {% set tags = album.title|string|replace(".", " ") %}
          {% set media = album %}
          {% if media.size.width < media.size.height %}
              {% set orientation = "portrait" %}
          {% endif %}
          {% if media.size.width > media.size.height %}
              {% set orientation = "landscape" %}
          {% endif %}
        <a data-tags="{{ tags }}" 
           href="{{album.url}}" 
           class="gallery"
           title="{{ album.title }}"
          {{ img_description(album) }}
          >
        <img
            alt="{{ album.url }}"
            src="{{theme.url}}/js/echo/blank.gif"
            data-echo="/{{ album.thumbnail }}"
           data-orientation="{{orientation}}"
            title="{{ album.title }}" /></a>
      </a>
{% endfor %}
</figure>

{% endblock %}
