<!doctype html>
<html lang="{{ settings.html_language }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ album.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="{{ album.author }}">
    <!--<link rel="stylesheet" href="{{ theme.url }}/css/skeleton.css">-->
    <link rel="stylesheet" href="{{ theme.url }}/css/colorbox.css">
    <link rel="stylesheet" href="{{ theme.url }}/css/normalize.css">
    <link rel="stylesheet" href="{{ theme.url }}/css/styles.css">
    <link rel="stylesheet" href="{{ theme.url }}/css/media.xs.css">
    <link rel="stylesheet" href="{{ theme.url }}/css/media.sm.css">
    <link rel="stylesheet" href="{{ theme.url }}/css/media.md.css">
    <!--<link rel="stylesheet" href="{{ theme.url }}/css/style.css">-->
    {% block extra_head %}{% endblock extra_head %}
    {% include 'analytics.html' %}
  </head>
  <body>
    {% include 'gtm.html' %}
      <div id="main" role="main" class="">
          {% if album.breadcrumb == [] %}
              {% for album in album.albums %}
                {% if album.title == 'skills' %}
                    <nav class="cv" id="{{ album.title }}">
                        {{ album.description }}
                    </nav>
                {% endif %}
                {% if album.title == 'about' %}
                    <header class="cv" id="{{ album.title }}">
                        {{ album.description }}
                    </header>
                {% endif %}
              {% endfor %}
              {% for album in album.albums %}
                {% if album.title == 'skills' %}
                    <section class="cv" id="">
                        {{ album.description }}
                    </section>
                {% endif %}
                {% if album.title == 'experience' %}
                    <section class="cv" id="{{ album.title }}">
                        {{ album.description }}
                    </section>
                {% endif %}
              {% endfor %}
          {% else %}

            <header>
                {% include 'breadcrumb.html' %}
              {% if album.description %}
                {{ album.description }}
              {% endif %}
            </header>

          {% endif %}

          <!--{% include 'links.html' %}-->
          {% include 'footer.html' %}

        {% block content %}{% endblock %}
      </div>
    {% block footer %}{% endblock %}
      <script src="{{ theme.url }}/js/jquery-2.2.1.min.js"></script>
      <script src="{{ theme.url }}/js/jquery.colorbox-min.js"></script>
      <script src="{{ theme.url }}/js/jquery.touchSwipe.min.js"></script>
      <script src="{{ theme.url }}/js/echo/echo.min.js"></script>

      {% if 'sigal.plugins.media_page' in settings.plugins %}
      <script src="{{ theme.url }}/js/app-with-media-page.js"></script>
      {% else %}
      <script src="{{ theme.url }}/js/app.js"></script>
      {% endif %}
    {% include 'piwik.html' %}
  </body>
</html>
