// IMPORT STYLE ////////////////////////////////////////////////////////////////

// @import '../css/bootstrap/index'
// @import 'theme.css'
@import '../css/_common'

// CUSTOM STYLE ////////////////////////////////////////////////////////////////



random(min,max)
	return floor(math(0, 'random')*(max - min + 1) + min)

for num in (1..30)
	.item{num}
		left random(0, 300)px

for num in (1..30)
	.item{num}
		top random(0, 300)px

.process

	.items
		position relative
		top -280px

	.item
		position absolute

.item .panel
	size 3em
	.list-group
	.panel-footer
		display none


//////////


.process .modal
	display none
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	background rgba(0, 0, 0, .5)
	z-index 999
	padding-top 4em

.process .modal.open
	display block

	.panel
		height 16em
		width 200px
		margin 0 auto
		*
			display block

.offer
	padding-top 10em
