@media (min-width: 992px) {
    :root {
        --gap: 4em;
    }
    #main {
        grid-template-columns: 1fr 1fr;
        max-width: 1180px;
        margin: 0 auto;
    }
    #about {
        grid-column: 1/-1;
        grid-auto-flow: column;
        align-items: center;
        grid-template-columns: auto auto auto;
    }
    section.cv {
        grid-template-columns: 1fr 2fr;
    }
}

