:root {
    --gap: 1em;
    --bg-color: white;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    padding: var(--gap);
    background: var(--bg-color);
}
#main {
    display: grid;
    gap: var(--gap);
}

h1 {
    font-size: 1.75em;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
}
h2 {
    flex-basis: 100%;
    margin-bottom: 1em;
    grid-column: 1/-1;
}

a {
    text-decoration-color: hsl(9, 100%, 94%);
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}
#main h2 {
    /*font-size: 2em;*/
    margin: 0;
    /*padding: 1em 0;*/
    text-transform: uppercase;
    opacity: 0.25;
}

figure {
    margin: 0;
    align-self: start;
    gap: 1em;
    grid-column: 1/-1;
    display: grid;
}

@media 
(orientation: landscape),
(min-width: 768px)
{
    figure {
        grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
    }
}

figcaption {
    grid-column: 1/-1;
    font-size: x-large;
    font-weight: bold;
}
    figure img {
        background: whitesmoke;
        border-radius: 3px;
        overflow: hidden;
        position: absolute;
        top: 0;
        /*min-height: 100%;*/
        height: auto;
        width: 100%;
    }
    figure > a {
        /*line-height: 0;*/
        display: flex;
        justify-items: center;
        justify-content: center;
        /*align-self: start;*/
        position: relative;
        overflow: hidden;
        padding-top: 100%;
    }
    figure > a[href*="logotype"] {
        /*justify-items: center;*/
        /*align-items: center;*/
    }
    figure img[data-orientation="portrait"] {
        /*width: auto;*/
        width: 100%;
        /*max-width: 125%;*/
        /*min-height: 100%;*/
    }
    figure img[data-orientation="landscape"] {
        width: auto;
        /*min-width: 100%;*/
        /*max-width: 125%;*/
        height: 100%;
    }

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #272727;
    }
    body {
        color: darkgray;
    }
    a {
        color: white;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-color: rgba(255, 255, 255, 0.5);
        text-decoration-thickness: 1px;
        text-decoration-skip: none;
    }
}

#main > * {
    order: 9;
}
#main > footer {
    order: 10;
    grid-column: 1/-1;
}

#main > header {
    order: 1;
    display: grid;
    gap: var(--gap);
}
header > * {
    padding: 0;
    margin: 0;
}
header h1 > a {
    text-decoration: none;
}
header h1 > a:before {
    content: '';
    width: 2em;
    height: 2em;
    background-image: url(/about/photo.jpg);
    background-size: cover;
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle;
}
/*Hide link to work.arsenty.ru*/
header ul li:last-child {
    display: none;
}
header ul {
    list-style-type: none;
}

nav {
    display: flex;
    grid-column: 1/-1;
    order: 2;
    position: sticky;
    z-index: 1;
    top: 0;
    padding: 1em 0;
    background: var(--bg-color);
    line-height: 1em;
    border-bottom: 1px solid rgba(100, 100, 100, 0.25);
    border-top: 1px solid rgba(100, 100, 100, 0.25);
}
nav h2,
nav h3
{
    display: none;
}
nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}
nav ul ~ *,
nav li a[href$="#"] {
    display: none;
}
nav a {
    margin-right: 1em;
    /*word-break: keep-all;*/
    white-space: nowrap;
}

section.cv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start;
    gap: 1em;
}
h3 {
    margin: 0;
}

nav .active {
    text-decoration: none;
    opacity: 0.5;
    /*font-weight: bold;*/
    pointer-events: none;
}

h3 a:after {
    content: attr(href);
    font-size: small;
    font-weight: normal;
    display: block;
    opacity: 0.25;
}

#about > ul:last-child a:before {
    width: 1.25em;
    height: 1.25em;
    vertical-align: middle;
    display: inline-flex;
    filter: invert();
    margin-right: 0.25em;
    background-size: 100%;
    background-position: center;
    content: '';
}
#about a[href*="linkedin.com"]:before {
    background-image: url(/static/images/icons8-linkedin.svg);
}
#about a[href*="behance.net"]:before {
    background-image: url(/static/images/icons8-behance.svg);
}

figure[data-tags*=blank] {
    display: none;
}
