// IMPORT STYLE ////////////////////////////////////////////////////////////////

// @import '../css/bootstrap/index'
// @import 'theme.css'
@import '../css/_common'

// CUSTOM STYLE ////////////////////////////////////////////////////////////////

.process
	.panel-footer
		position absolute
		bottom 0
		left 0
		width 100%


.process

	.points
		position relative
		top -280px

	.point
		position absolute
